
<div class="ui segment">
  <p class="item-title"><strong><%= item.title %></strong></p>
  <hr>
  <p>
    <% if item.is_a?(Journal) %>
      <%= item.body %>
    <% elsif item.is_a?(Photo) %>
      <%= image_tag item.show_image %>
      <%= item.summary %>
    <% end %>
  </p>
  <p>
    <small>Tags: <%= raw item.tags.map(&:name).join(", ") %></small>
  </p>
  <%= render 'tags/form', taggable: item %>
</div>
