<div class="ui segment">
  <p class="item-title"><strong><%= item.title %></strong></p>
  <hr>
  <p>
    <% if item.is_a?(Journal || ToDo) %>
      <%= item.body %>
    <% else %>
      <%= image_tag item.show_image %>
      <%= item.summary %>
    <% end %>
  </p>
  <p>
    <small>Tags: <%= raw item.tags.map(&:name).join(", ") %></small>
  </p>
  <%= render 'tags/form', taggable: item %>
</div>
